*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;

}

@media (max-width:600px) {
    .clock{
        height: 100vh;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .clock h1{
        font-size: 150px;
        rotate: -90deg;
        font-family: futura;
    }
}


.clock{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock h1{
    font-size: 280px;
    font-family: futura;
}